
.resume {
  width: 794px;              /* A4 width @ 96 DPI */
  min-height: 1123px;        /* A4 height @ 96 DPI */
  padding: 40px;
  background: #ffffff;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

  /* IMPORTANT */
  margin: 0 auto;            /* for preview only */
}

.pdf-wrapper {
  display: flex;
  justify-content: center;
}



section {
  margin-bottom: 14px;
}

section h2 {
  font-size: 15px;
  border-bottom: 1px solid #000;
  padding-bottom: 4px;
  margin-bottom: 6px;
}
